<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <mapping class ="org.example.tp_projet.entity.Vetement" />
        <mapping class ="org.example.tp_projet.entity.Electronique" />
        <mapping class ="org.example.tp_projet.entity.Nourriture"/>
        <mapping class ="org.example.tp_projet.entity.Client"/>
        <mapping class ="org.example.tp_projet.entity.Article"/>
        <mapping class ="org.example.tp_projet.entity.Vente"/>
        <mapping class ="org.example.tp_projet.entity.LigneVente"/>


    </session-factory>
</hibernate-configuration>